body{     
    background: #000000
} 
.white{     
    color:#fff; 
} 
#main{     
    width: 680px;     
    background: #fff;     
    margin: 0 auto; 
} 
header{     
    background: url("../images/tokyo.jpg");     
    border: solid #fff 3px;     
    padding: 5px 0px 10px 0px;  
}
#menu{
    overflow: hidden;
    background-color: #333;
}
#menu a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#menu a:hover {
    background-color: #ddd;
    color: black;
  }
